body {
  background-color: #fff;
  height: auto;
  max-height: 600px;
}

.overlay-container {
  margin: 30px 10px;
}

.overlay-card {
  width: auto !important;
  overflow-y: auto;
  max-height: calc(100vh - 130px);
}

.ui.checkbox {
  margin: 5px 20px 0 0;
}

.ui.feed > .event:first-child {
  margin-top: 5px !important;
}

.ui.feed > .event > .label {
  margin-top: 0.5em;
}

.ui.feed > .event > .content > .summary {
  margin-bottom: 5px !important;
}

.ui.feed > .event > .label img {
  border-radius: unset !important;
}

#root > div > div:nth-child(1) > div > div > div:nth-child(1) {
  cursor: default;
  padding: 1.5em 1em 1.1em !important;
}

#root > div > div:nth-child(1) > div > div > div:nth-child(1):hover {
  background: none;
}

#root > div > div:nth-child(1) > div > div > div:nth-child(2) {
  color: IndianRed;
  padding: 1.1em 1em 1.5em !important;
}
