body {
  background-color: #fff;
  height: auto;
  max-height: 100px;
}

.overlay-container {
  margin: 5px 10px;
}

.overlay-card {
  width: auto !important;
  overflow-y: auto;
  max-height: calc(100vh - 130px);
}

.dimmer {
  height: 100px;
}

.ui.checkbox {
  margin: 5px 20px 0 0;
}

.ui.feed > .event:first-child {
  margin-top: 5px !important;
}

.ui.feed > .event > .label {
  margin-top: 0.6em;
}

.ui.feed > .event > .content > .summary {
  margin-bottom: 5px !important;
}

.ui.feed > .event > .label img {
  border-radius: unset !important;
}

.ui.menu .item>i.icon {
  margin: 0 !important;
}

.ui.menu .dropdown.item:hover {
  background: none !important;
}

.ui.menu .right.item::before,
.ui.menu .right.menu > .item::before {
  content: none !important;
}

.ui.menu:after {
  content: none !important;
}

.ui.menu > .right.menu > .item > .menu > div:nth-child(1) {
  font-size: 1.1rem !important;
  cursor: default;
  padding: 1.5em 1em 1.1em !important;
}

.ui.menu > .right.menu > .item > .menu > div:nth-child(1):hover {
  background: none !important;
}

.ui.menu > .right.menu > .item > .menu > div:nth-child(2) {
  font-size: 1.1rem !important;
  padding: 1.1em 1em 1.5em !important;
}

.ui.menu > .right.menu > .item > .menu > div:nth-child(2).red {
  color: IndianRed !important;
}

.ui.menu > .right.menu > .item > .menu > div:nth-child(2).green {
  color: forestgreen !important;
}

.ui.menu > .right.menu > .item > .menu > div:nth-child(1).connect {
  cursor: pointer;
}

.ui.menu > .right.menu > .item > .menu > div:nth-child(1).connect > p {
  margin-bottom: auto;
}

.ui.menu > .right.menu > .item > .menu > div:nth-child(1).connect > p > span {
  color: forestgreen;
}

.nft_counter {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  opacity: 0.6;
}

.notification {
  color: forestgreen;
}

.ui.divider {
  margin: 10px 24px !important;
}

.overlay-container.dpp-dark,
.dpp-dark h2,
.dpp-dark [role='listbox'],
.dpp-dark .ui.menu .ui.dropdown .menu>.item,
.dpp-dark .ui.icon.input > input,
.dpp-dark .content,
.dpp-dark .ui.feed,
.dpp-dark .ui.feed > .event,
.dpp-dark .ui.feed>.event>.content .summary.nft-title,
.dpp-dark .ui.feed>.event>.content .summary>b,
.dpp-dark .ui.feed>.event>.content .summary > .ui.slider.checkbox > input:checked~label,
.dpp-dark .ui.dimmer {
  color: #fff !important;
  background: #15202B !important;
}

.dpp-dark .ui.feed>.event>.content .summary,
.dpp-dark .ui.feed>.event>.content .summary > .ui.slider.checkbox > label {
  color: #bbcedc !important;
}

.dpp-dark .ui.menu .ui.dropdown .menu>.item:hover {
  color: #fff !important;
  background: #1f2a35 !important;
}

.dpp-dark .ui.slider.checkbox .box:before,
.dpp-dark .ui.slider.checkbox label:before {
  background-color: rgb(255 255 255 / 30%) !important;
}
.dpp-dark .ui.slider.checkbox input:checked~.box:before,
.dpp-dark .ui.slider.checkbox input:checked~label:before {
  background-color: rgb(255 255 255 / 80%) !important;
}

.dpp-dark .ui.slider.checkbox label:after {
  background-color: #8da1b1 !important;
}
.dpp-dark .ui.slider.checkbox input:checked~label:after {
  background-color: #ffffff !important;
}

.dpp-dark .ui.icon.input > input {
  border: 1px solid rgb(242 244 246 / 80%) !important;
}

.button-more {
  display: block;
  border-radius: 99em !important;
  background-color: rgb(29, 155, 240) !important;
  margin: 20px !important;
}

.button-more:hover {
  background-color: rgb(26, 140, 216) !important;
}

.button-more.none {
  display: none !important;
}

.nft-title {
  width: fit-content !important;
  display: inline-block !important;
}

.title-button {
  float: right;
  margin: 21px 6px 10px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 1;
  /* transition: all 1s ease 0s !important; */
}

/* .title-button.prev {
  opacity: 1;
  transform: rotate(0.5turn);
} */

.title-button.none {
  display: none;
}



.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}


/* .fade-enter{
  opacity: 0.2;
}
.fade-exit{
  opacity: 1;
}
.fade-enter-active{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0.2;
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 180ms;
} */





.title-button > i {
  margin: 3px !important;
}

.nft-link {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  left: 8px;
  top: 5px;
  border: none;
  border-radius: 99em;
  cursor: pointer;
}

.nft-link.paras-icon {
  background: 0 0 / 20px 20px no-repeat url("./images/paras_icon_20x20.png");
}

.nft-link.mintbase-icon {
  background: 0 0 / 20px 20px no-repeat url("./images/mintbase_icon_20x20.jpg");
}

.nft-link.ncd-icon {
  background: 0 0 / 20px 20px no-repeat url("./images/ncd_icon_20x20.jpg");
}
